<div class="2xlarge:block 2xlarge:w-80  xlarge:block large:block medium:hidden small:hidden sticky top-0 z-50 flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto bg-sidebar 
            dark:bg-gray-900 dark:border-gray-700 ">
            <div class="flex flex-col items-center mt-6 -mx-2 text-sidebarLink">
                <img class="object-cover w-40 h-40 mx-2 rounded-full border-8"
                    src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                    alt="avatar">
                <h4 class="mx-2 mt-2 text-xl text-sidebarLink dark:text-gray-200">Priyank Patel</h4>
                <div>
                    <a href="#">
                        <i class="fa-brands fa-linkedin text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-github text-xl"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube text-xl"></i>
                    </a>
                </div>
            </div>


            <div class="flex flex-col justify-between flex-1 mt-6">
                <nav>
                    <a class="flex items-center px-4 py-2 text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-800 dark:text-gray-200"
                        href="#home">
                        <span class="mx-4 font-medium">Home</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-5 text-sidebarLink transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                        href="#about">
                        <span class="mx-4 font-medium">About Me</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-5 text-sidebarLink transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                        href="#what-i-do">
                        <span class="mx-4 font-medium">What I Do</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-5 text-sidebarLink transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                        href="#resume">
                        <span class="mx-4 font-medium">Resume</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-5 text-sidebarLink transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                        href="#portfolio">
                        <span class="mx-4 font-medium">Portfolio</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-5 text-sidebarLink transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                        href="#testimonial">
                        <span class="mx-4 font-medium">Testimonial</span>
                    </a>

                    <a class="flex items-center px-4 py-2 mt-5 text-sidebarLink transition-colors duration-300 transform rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                        href="#contact">
                        <span class="mx-4 font-medium">Contact</span>
                    </a>
                </nav>
            </div>
        </div>