<div  id="introduction" class="bg-gray-100">
    <section class="cover bg-blue-teal-gradient relative bg-black px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 overflow-hidden py-48 flex
      items-center w-full h-screen">
        <div class="w-full h-screen absolute top-0 left-0 z-0">
            <img src="https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                alt="" class="w-full h-screen object-cover opacity-20">
        </div>

        <div class="text-center relative z-10 h-100 lg:mx-auto medium:mx-auto small:mx-auto">
            <div>
                <h5 class="font-roboto text-white text-4xl md:text-5xl xl:text-6xl font-bold leading-tight">
                    Welcome</h5>
                <h1 class="text-white text-4xl md:text-5xl xl:text-6xl font-bold leading-tight">
                    I am {{data.personal.firstName + " " + data.personal.lastName}}</h1>
                <p class="text-blue-100 text-xl md:text-2xl leading-snug mt-4">based in {{data.personal.address.city + ", " + data.personal.address.state}}</p>
                <a href={{data.personal.resumeURL}}
                    class="px-8 py-4 border border-blue-500 text-white rounded inline-block mt-8 font-semibold">Download
                    CV</a>
            </div>
        </div>
    </section>
</div>