<section id="resume" class="large:p-[4.5rem] xlarge:p-[4.5rem] 2xlarge:p-[4.5rem] medium:p-8 small:p-8 overflow-hidden">
    <!-- Section Title -->
    <div class="relative flex text-center mb-12 ">
        <h2 class="small:text-7xl font-roboto text-9xl text-gray-200 uppercase w-full font-semibold">
            Summary
        </h2>
        <p class="text-4xl absolute w-full self-center font-roboto font-medium">
            Resume
            <span class="w-20 border-b-4 border-blue-500 block mr-auto ml-auto"></span>
        </p>
    </div>
    <!-- End of Section Title -->

    <div class="container">
        <div class="flex flex-col mb-4">
            <div class="flex flex-col items-center gap-x-8 rounded-md border p-5 md:flex-row ">
                <!-- <div class="shrink-0"><a href="/demo/astro-boilerplate"><img
                                    class="h-36 w-36 hover:translate-y-1" src="https://picsum.photos/200"
                                    alt="Project Web Design" loading="lazy"></a></div> -->
                <div>
                    <div
                        class="flex items-center gap-y-2 justify-between md:flex-row small:flex-col small:items-start">
                        <div>
                            <p class="text-xl font-semibold font-roboto">My Work Place name</p>
                        </div>

                        <div class="bg-blue-500 px-2 rounded-lg text-white">
                            <p class="font-semibold text-sm capitalize p-0.5">june-2022
                                to july-2023
                            </p>
                        </div>
                    </div>
                    <p class="text-blue-500 font-bold small:mt-2">Full Stack Developer
                    </p>
                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Suspendisse
                        bibendum. Nunc non posuere consectetur, justo erat semper enim,
                        non
                        hendrerit dui odio id enim.</p>

                    <div class="pt-2 font-roboto border-black flex flex-wrap gap-2">
                        <div
                            class="rounded-md px-2 py-1 text-xs hover:border-none font-semibold border border-blue-500 hover:bg-teal-500 hover:border-0 hover:text-white">
                            Astro.js
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            Web design
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            Tailwind.css
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            TypeScript
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            TypeScript
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col mb-4 last:mb-0">
            <div class="flex flex-col items-center gap-x-8 rounded-md border p-5 md:flex-row ">
                <!-- <div class="shrink-0"><a href="/demo/astro-boilerplate"><img
                                    class="h-36 w-36 hover:translate-y-1" src="https://picsum.photos/200"
                                    alt="Project Web Design" loading="lazy"></a></div> -->
                <div>
                    <div
                        class="flex items-center gap-y-2 justify-between md:flex-row small:flex-col small:items-start">
                        <div>
                            <p class="text-xl font-semibold font-roboto">My Workplace Name</p>
                        </div>

                        <div class="bg-blue-500 px-2 rounded-lg text-white">
                            <p class="font-semibold text-sm capitalize p-0.5">june-2022
                                to july-2023
                            </p>
                        </div>
                    </div>
                    <p class="text-blue-500 font-bold small:mt-2">Full Stack Developer
                    </p>
                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Suspendisse
                        bibendum. Nunc non posuere consectetur, justo erat semper enim,
                        non
                        hendrerit dui odio id enim.</p>

                    <div class="pt-2 font-roboto border-black flex flex-wrap gap-2">
                        <div
                            class="rounded-md px-2 py-1 text-xs hover:border-none font-semibold border border-blue-500 hover:bg-teal-500 hover:border-0 hover:text-white">
                            Astro.js
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            Web design
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            Tailwind.css
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            TypeScript
                        </div>
                        <div class="rounded-md px-2 py-1 text-xs font-semibold border border-blue-500">
                            TypeScript
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section Title -->
</section>